{{ define "main" }}
<div class="cc-reader">
  
  <div class="cc-reader-title">
  <h1>{{ .Title }}</h1>
  {{ .Summary }}
  </div>
  {{ .Content }}
  <div class="divider"></div>
  
    {{ range $comision := where .Site.Pages "Type" "comision"}}
        {{ if not (isset $comision.Params "bookhidden")}}
          {{ range $informe := .Pages}}
          <section class="informe">
            <span class="informe-title"> 
              {{ with ($comision.Param "weight")}}
              <img class="thumbnail" src="/img/{{.}}.png" alt="">
              {{ end }}
              <div>
              <div><b>{{ $comision.Param "short-title" }}</b></div>
              <div>{{ $informe.Title }}</div>
            </div>
            </span>
            <div class="informe-content">
            {{ range .Pages }}
              {{ template "entry" .}}
            {{ end }}
            </div>
          </section>
          {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}

{{ define "comision-heading" }}
    {{ $id := print "com" (.Param "weight")}}
    <div class="full-text-comision-heading" id={{$id}}>
      {{ .Title}} · <b>{{ (.Param "short-title")}}</b>
    </div>
{{ end }}

{{ define "entry" }}
    {{ if eq .Type "articulo"}}
      {{ partial "articulo" . }}
    {{ else if eq .Type "heading" }}
      {{ partial "heading" . }}
    {{ end }}
{{ end }}





