{{ define "main" }}
  <section class="markdown">
  {{ .Page.Content }}
  <div class="comisiones">
    {{range $comision := where .Site.Pages "Type" "comision"}}
      {{ partial "card" . }}
    {{ end }}
    {{ $full_text := .GetPage "texto-completo" }}
    {{ partial "card" $full_text }}
  </div>
  </section>
  <section class="important-dates">
    <h2 class="important-dates-heading">Fechas Importantes</h2>
    <ul class="important-dates-list">
      <li class="date">
        <span class="date-month">may</span><span class="date-day">13</span>
        <p>Fin redacción <em>Borrador</em></p>
      </li>
      <li class="date">
        <span class="date-month">may</span><span class="date-day">17</span>
        <p>Inicio comisión de armonización</p>
      </li>
      <li class="date">
        <span class="date-month">jun</span><span class="date-day">13</span>
        <p>Entrega del texto armonizado al pleno</p>
      </li>
      <li class="date">
        <span class="date-month">jun</span><span class="date-day">29</span>
        <p>Último pleno</p>
      </li>
      <li class="date">
        <span class="date-month">jul</span><span class="date-day">4</span>
        <p>Fin de la <em>Convención</em></p>
      </li>
      <li class="date">
        <span class="date-month">sep</span><span class="date-day">4</span>
        <p><em>Plebiscito de salida</em></p>
      </li>
    </ul>
  </section>
{{ end }}