.comisiones {
    counter-reset: coms;
    list-style: none;
    
    justify-content: center;
    
    a,
    a:visited,
    a:hover {
        color: inherit;
    }
    
    a:hover {
        text-decoration: none;
    }
}

.comision {
    position: relative;
    max-width: 220px;
    flex-grow: 1;
    margin: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid var(--gray-200);
    border-radius: 5px;
    box-shadow: 1px 2px 2px var(--gray-200);
    transition: border ease 50ms, background-color ease 50ms;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.comision:hover {
    border: 1px solid var(--gray-500);
    background-color: var(--gray-100);
}

.comision-img {
    padding: 30px;
    max-width: 200px;
    max-height: 200px;
}

.comision-title {
    display: block;
    padding: 0 10px;
    font-size: 1.5em;
}

.comision-article-count {
    display: block;
    font-style: italic;
    font-size: $font-size-14;
    padding: 0 10px;
}

.comision-status {
    font-style: italic;
    font-size: 0.9em;
    flex-direction: row;
    align-items: flex-start;
}

.comision-status-icon {
    display: block;
    width: 2em;
    min-height: 2em;
    background-image: url("icons/check.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 50%;
}

.disabled {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    pointer-events: none;
    
    .comision-title, .comision-status {
        color: var(--gray-700);
    }
    
    box-shadow: none;
}

.disabled:hover {
    border: 1px solid var(--gray-100);
}

.disabled .comision-status-icon {
    background-image: url("icons/pending.svg");
}


.menu-sitio-oficial-convencion {
    color: var(--gray-700);
    a {
        color: var(--body-font-color);
        text-decoration: underline;
    }
}

.menu-item, .menu-item-link {
    font-size: large;
    border: black;
    border-radius: 5px;
    padding: 0.5em 0;
}

.menu-item-link:hover {
    opacity: 0.5;
}

a.anchor img{
    opacity: 0.7;
    height: 15px;
    width: 15px;
}

.articulo {
    margin-bottom: $padding-16 * 1.5;
    max-width: 70ch;
    
    p {
        margin: 0;
        margin-bottom: 0.8em;
        text-align: justify;
        padding-left: 1rem;
        border-left: solid var(--gray-200) 2px;
    }
    
    li p {
        border: none;
    }
}

.articulo h3 {
    position: relative;
    display: inline;
    font-size: 1.3em;
    max-width: 40ch;
}




.full-text-comision-heading {
    width: fit-content;
    border-bottom: solid 1px var(--gray-200);
    margin-top: 1em;
    margin-bottom: 0.5em;
}


.toc-section{
    display: flex;
    flex-direction: column;
    
    ul {
        list-style-type: none;
        padding: 0;
        
        li a {
            display: flex;
            flex-direction: row;
        }
        
    }
}

.toc-l1 {
    font-weight: 550;
    margin-top: 1rem;
}

.toc-item  {
    display: inline-block;
    margin: 0;
}
.toc-marker {
    min-width: 3rem;
    padding-right: 0.5rem;
    text-align: right;
    
}


@media screen and (max-width: $mobile-breakpoint) {
    a.anchor {
        opacity: 0.6 !important;
        height: 15px;
        width: 15px;
    }
    
    .comision {
        width: 120px;
        height: 180px;
    }
    
    .comision-img {
        padding: 0;
        padding-top: 0.5rem;
        width: 100px;
    }
    
    .comision-title{
        bottom: 1rem;
        line-height: 1em;
        font-size: $font-size-16;
    }
    
    .comision-article-count{
        bottom: 0rem;
        font-size: small;
    }
    
    .toc-content{
        max-height: 35vh;
        overflow-y: scroll !important;
    }
    
    #toc-label {
        display: flex;
        align-items: center;
    }
    
};