body {
    font-family: 'Source Sans Pro';
    letter-spacing: 0.2px;
}

.book-footer {
    color: var(--gray-700)
}

.book-page {
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    
}

.book-header {
    display: block;
    width: 100%;
    top: 0;
    background-color: var(--body-background);
    border-bottom: solid 1px var(--gray-200);
    margin-bottom: 0;
    z-index: 10;
    box-shadow: 0 4px 5px -2px var(--gray-100);
    
    .page-title {
        padding: 0.5em 0;
        flex-grow: 1;
    }
    
    .page-title p {
        margin: 0;
        font-size: small;
    }
    
    label {
        display: none;
        margin: 0.5em;
    }
}

.book-content {
    flex-grow: 1;
    position: block;
    padding: 1em;
    height: 100%;
}

.book-footer {
    margin-bottom: 1em;
}


@media screen and (max-width: $mobile-breakpoint) {
    .book-header {
        
        .page-title strong, p{
            margin: 0;
        }
        
        label {
            display: block;
        }

    }

};