.comisiones {
    counter-reset: coms;
    list-style: none;
    padding: 0;
    margin: 0;
    
    a:visited {
        color: inherit;
    }
    a:hover {
        color: inherit;
        text-decoration: none;
    }
}

.comision {
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    min-height: 3em;
    margin-bottom: 0.5em;
    border: 1px solid var(--gray-200);
    box-shadow: 1px 2px 2px var(--gray-200);
}

.comision:hover {
    border: 1px solid var(--gray-500);
}

.comision-title {
    display: block;
    padding-left: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.comision-title::before {
    counter-increment: coms;
    content: counter(coms);
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 100%;
    text-align: center;
}

.comision-status {
    display: flex;
    color: var(--gray-800);
    font-style: italic;
    font-size: 0.9em;
    flex-direction: row;
    align-items: flex-start;
}

.comision-status-icon {
    display: block;
    width: 2em;
    min-height: 2em;
    background-image: url("icons/check.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 50%;
}

.disabled {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    pointer-events: none;
    
    .comision-title, .comision-status {
        color: var(--gray-700);
    }
    
    box-shadow: none;
}

.disabled:hover {
    border: 1px solid var(--gray-100);
}

.disabled .comision-status-icon {
    background-image: url("icons/pending.svg");
}

.articulo {
    margin-bottom: $padding-16 * 1.5;
    max-width: 72ch;
    
    p {
        margin: 0;
        margin-bottom: 0.8em;
        text-align: justify;
        padding-left: 1rem;
        border-left: solid var(--gray-200) 2px;
    }
}

.menu-sitio-oficial-convencion {
    color: var(--gray-700);
    a {
        color: var(--body-font-color);
        text-decoration: underline;
    }
}

.menu-item, .menu-item-link {
    font-size: large;
    border: black;
    border-radius: 5px;
    padding: 0.5em 0;
}

.menu-item-link:hover {
        opacity: 0.5;
}

a.anchor img{
    opacity: 0.7;
    height: 15px;
    width: 15px;
}

.book-footer {
    color: var(--gray-700)
}

.search-result {
    display: block;
    padding: 0.2em;
    margin: 0.5em 0;
    border-left: solid 3px var(--gray-500);
    border-radius: 3px;
}

.articulo h3 {
    position: relative;
    display: inline;
    font-size: 1.3em;
    font-weight: 50;
}




.book-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 0;
}

.book-header {
    display: block;
    width: 100%;
    top: 0;
    background-color: var(--body-background);
    border-bottom: solid 1px var(--gray-200);
    margin-bottom: 0;
    z-index: 10;
    box-shadow: 0 4px 5px -2px var(--gray-100);
    
    .page-title {
        padding: 0.5em 0;
        flex-grow: 1;
    }
    
    .page-title p {
        margin: 0;
        font-size: small;
    }
    
    label {
        display: none;
        margin: 0.5em;
    }
}

.book-content {
    flex-grow: 1;
    position: block;
    padding: 1em;
    height: 100%;
    overflow-y: scroll;
}

.book-footer {
    margin-bottom: 1em;
}

.full-text-comision-heading {
    width: fit-content;
    border-bottom: solid 1px var(--gray-200);
    margin-top: 1em;
    margin-bottom: 0.5em;
}


.toc-section{
    display: flex;
    flex-direction: column;
}


.toc-l1 {
    padding-left: 1em;
}
.toc-l2 {
    padding-left: 2em;
}


@media screen and (max-width: $mobile-breakpoint) {
    a.anchor {
        opacity: 0.6 !important;
        height: 15px;
        width: 15px;
    }
    
    .book-header {
        
        .page-title strong, p{
            margin: 0;
        }
        
        label {
            display: block;
        }

    }
    

    .toc-content{
        max-height: 35vh;
        overflow-y: scroll !important;
    }
    
    #toc-label {
        display: flex;
        align-items: center;
    }
    
};