
.comisiones {
    counter-reset: coms;
    list-style: none;
    padding: 0;
    margin: 0;
}

.comision {
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    min-height: 3em;
    margin-bottom: 0.5em;
    border: 1px solid var(--gray-200);

}

.comision:hover {
    border: 1px solid var(--gray-500);
    pointer-events: all;
}
    

.comision .comision-content:hover {
    text-decoration: none;
}

.comision-title{
    display: block;
    padding-left: 2em;
    margin-bottom: 10px;
}

.comision-title::before {
    counter-increment: coms;
    content: counter(coms);
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 100%;
    text-align: center;
}


.comision-status {
    display: flex;
    color: var(--gray-800);
    font-style: italic;
    font-size: 0.9em;
    flex-direction: row;
    align-items: flex-start;
}

.comision-status-icon {
    display: block;
    width: 2em;
    min-height: 2em;
    background-image: url("icons/check.svg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 50%;
}




.disabled {
    background-color: var(--gray-100);
    color: var(--gray-700);
    border: 1px solid var(--gray-100) ;
    a.comision-content {
        color: var(--gray-700);
        pointer-events: none;
    }    
}

.disabled:hover {
    border: 1px solid var(--gray-100);
}

.disabled .comision-status-icon {
    background-image: url("icons/pending.svg");
}

.disabled .comision-status{
    color: var(--gray-700)
}



.articulo {
    margin-bottom: $padding-16 * 1.5;
    
    p {
        margin: 0;
        margin-bottom: 0.8em;
    }
}



.menu-sitio-oficial-convencion {
    color: var(--gray-700);
    a {
        color: var(--body-font-color);
        text-decoration: underline;
    }
}

.menu-item, .menu-item-link {
    font-size: large;
    border: black;
    border-radius: 5px;
    padding: 0.5em 0;
}

.menu-item-link:hover {
        opacity: 0.5;
}

a.anchor img{
    opacity: 0.7;
    height: 15px;
    width: 15px;
}