@media print {
  .book-menu,
  .book-footer,
  .book-toc {
    display: none;
  }
  
  .book-toc-content {
     ul {
      li {
          margin: 0;
      }
    }
  }

  .book-content {
    overflow-y: unset;
  }
  
  .book-header,
  .book-header aside {
    display: block;
    
    article{
      break-inside: avoid;
    }
  }
  
  p {
    break-after: always;
  }
  
  .full-text-comision-heading {
    page-break-before: always;
    padding-top: 0;
  }
  
  p, h1, h2, h3 {
    break-inside: avoid;
  }
  
  @page {
    margin: 0.5in;
    padding: 0;
  }

  main {
    // Fix for https://bugzilla.mozilla.org/show_bug.cgi?id=939897
    display: block !important;
  }
}
