@media print {
  .book-menu,
  .book-footer,
  .book-toc {
    display: none;
  }
  
  .book-toc-content {
     ul {
      li {
          margin: 0;
      }
    }
  }

  .book-content {
    overflow-y: unset;
  }
  
  .book-header,
  .book-header aside {
    display: block;
    
    article{
      break-inside: avoid;
    }
  }
  
  p, h2, h3 {
    break-inside: always;
  }

  main {
    // Fix for https://bugzilla.mozilla.org/show_bug.cgi?id=939897
    display: block !important;
  }
}
