{{ define "main" }}
  <section class="markdown">
  {{ .Content }}
    {{ range $comision := where .Site.Pages "Type" "comision"}}
        {{ if not (isset $comision.Params "bookhidden")}}
          {{ template "comision-heading" . }}
          {{ range $informe := .Pages}}
          <section class="informe">
            {{ $informe.Title}}
            {{ range .Pages }}
              {{ template "entry" .}}
            {{ end }}
          </section>
          {{ end }}
        {{ end }}
    {{ end }}
  </section>
  
{{ end }}

{{ define "comision-heading" }}
    {{ $id := print "com" (.Param "weight")}}
    <div class="full-text-comision-heading" id={{$id}}>
      {{ .Title}} · <b>{{ (.Param "short-title")}}</b>
    </div>
{{ end }}

{{ define "entry" }}
    {{ if eq .Type "articulo"}}
      {{ partial "articulo" . }}
    {{ else if eq .Type "heading" }}
      {{ partial "heading" . }}
    {{ end }}
{{ end }}

{{ define "toc" }}
  {{ range $comision := where .Site.Pages "Type" "comision"}}
  {{ if not (isset $comision.Params "bookhidden")}}
    <section class="toc-section">
      <details>
      <summary>{{ template "comision-link" . }}</summary>
      <ul>
        {{ range .Pages }}
          {{ range .Pages }}
            {{ if eq .Type "articulo" }}
              <li class="toc-l2">{{ template "article-link" .}}</li>
            {{ else if eq .Type "heading" }}
              <li class="toc-l1">{{ template "heading-link" . }}</li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </details>
    </section>
  {{ end }}
  {{ end }}
{{ end }}

{{ define "article-link"}}
  {{ $heading_ref := print "#com" (.Parent.Parent.Param "weight") "-in" (.Parent.Param "number") "-art" (.Param "weight")}}
  <a {{with $heading_ref}} href="{{.}}" {{end}}> 
    <span class="toc-marker">{{ .Title }}</span>
    <p class="toc-item">{{ .Param "long-title" }}</p>
  </a>
{{ end }}

{{ define "heading-link"}}
  {{ $title := index .Params "long-title" }}
  {{ $heading_ref := print "#com" (.Parent.Parent.Param "weight") "-" (anchorize (index .Params "long-title")) }}
  <a {{with $heading_ref}} href="{{.}}" {{end}}>
    <span class="toc-marker">&#167</span>
    <p class="toc-item">{{ .Param "long-title" }}</p>
  </a>
{{end}}

{{ define "comision-link"}}
  <span class="toc-comision-heading"> {{.Param "weight"}}. {{ .Param "short-title"}}</span>
{{end}}




