{{ define "main" }}
  <section class="markdown">
  {{ .Content }}
    {{ range $comision := where .Site.Pages "Type" "comision"}}
        {{ if not (isset $comision.Params "bookhidden")}}
          {{ template "comision-heading" . }}
          {{ range .Pages }}
            {{ template "entry" .}}
          {{ end }}
        <hr>
        {{ end }}
    {{ end }}
  </section>
  
{{ end }}

{{ define "comision-heading" }}
    {{ $id := print "com" (.Param "weight")}}
    <div class="full-text-comision-heading" id={{$id}}>
      {{ .Title }}
    </div>
{{ end }}

{{ define "entry" }}
    {{ if eq .Type "articulo"}}
      {{ partial "articulo" . }}
    {{ else if eq .Type "heading" }}
      {{ partial "heading" . }}
    {{ end }}
{{ end }}

{{ define "toc" }}
  <section class="toc-content">
  {{ range $comision := where .Site.Pages "Type" "comision"}}
  {{ if not (isset $comision.Params "bookhidden")}}
    <section class="toc-section">
      {{ template "comision-link" . }}
      {{ range .Pages }}
        {{ if eq .Type "articulo" }}
          {{ template "article-link" .}}
          {{ else if eq .Type "heading" }}
            {{ template "heading-link" . }}
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
  {{ end }}
  </section>
{{ end }}

{{ define "article-link"}}
  {{ $title := print .Title " - " (index .Params "long-title") }}
  {{ $heading_ref := print "#com" (.Parent.Param "weight") "-art" (.Param "weight")}}
  <a {{with $heading_ref}} href="{{.}}" {{end}} class="toc-l2"> {{$title}}</a>
{{ end }}

{{ define "heading-link"}}
  {{ $title := index .Params "long-title" }}
  {{ $heading_ref := print "#com" (.Parent.Param "weight") "-" (anchorize (index .Params "long-title")) }}
  <a {{with $heading_ref}} href="{{.}}" {{end}} class="toc-l1"> {{$title}}</a>
{{end}}

{{ define "comision-link"}}
  {{ $heading_ref := print "#com" (.Param "weight")}}
  <a {{with $heading_ref}} href="{{.}}" {{end}} class="full-text-comision-heading"> {{.Title}}</a>
{{end}}




