<div class="comisiones flex flex-wrap">
  {{range $comisiones := .Site.Data.comisiones }}
    {{ range $comision := $comisiones }}
      {{ $ref := (print "comisiones/" $comision.number) | relURL }}
      {{ $disabled := cond ( $comision.ready ) " " "disabled"}}
        <div {{ with $disabled }} class="comision {{.}}" {{ end }}>
          <a {{ with $ref }} href="{{.}}" {{ end }} class="comision-content">
            <div class="comision-title">
              {{ $comision.title }}
            </div>
            <div class="comision-status flex"> 
              <span class="comision-status-icon"></span> {{ $comision.status }}
            </div>
          </a>
        </div>
    {{ end }}
  {{ end }}
</div>
