<div class="comisiones flex flex-wrap">
  {{range $comisiones := .Site.Data.comisiones }}
    {{ range $comision := $comisiones }}
      {{ $ref := (print "comisiones/" $comision.number) | relURL }}
      {{ $disabled := cond ( $comision.ready ) " " "disabled"}}
        <a {{ with $ref }} href="{{.}}" {{ end }} {{ with $disabled }} class="comision {{.}}" {{ end }}>
          <div class="comision-title">
            {{ $comision.title }}
          </div>
          <div class="comision-status flex"> 
            <span class="comision-status-icon"></span> {{ $comision.status }}
          </div>
        </a>
    {{ end }}
  {{ end }}
</div>
