{{ $disabled := isset .Page.Params "bookhidden" }}
{{ $warning := cond ( $disabled ) "warning" " "}}
{{ $icon := cond ( $disabled ) "pending" "check"}}
     <blockquote {{ with $warning }}class="book-hint {{.}}"{{ end }}> 
        <div class="comision-status 
        " style="flex-direction: column">
            {{ range .Page.Param "status" }}
            <div>
            <img {{ with $icon }}src="/icons/{{.}}.svg"{{end}} width="15" height="15" alt="">
                {{ .message }} <a {{with .link }} href="{{.}}"{{ end }}>{{ with .document }} &#128196 {{ . }} {{end }}</a>
            </div>
            {{ end }}
        </div>
    </blockquote>
