<div class="cc-comision-status">
    <div class="cc-comision-info">
        <span>{{ .Page.Param "article-count"}} artículos</span>
        <span>{{ .Page.Param "report-count"}} informes</span>
    </div>
    <details class="cc-comision-docs">
        <summary>Documentos de las votaciones</summary>
        <ul class="cc-doc-list">
            {{ range .Page.Param "status" }}
            <li>
                <span>{{ .message }}</span>
                <a {{with .link }} href="{{.}}" {{ end }}>{{ with .document }} &#128196 {{ . }} {{end}}</a>
            </li>
            {{ end }}
        </ul>
    </details>
</div>